@import "./colors.global.scss";

div, body{
    background-color: $background-primary;
    color: $text-primary;
    font-family:'Merriweather';
}

a {
    color: $text-secondary;
}
a:hover {
    color: $text-highlight;
}

h1, h2 {
    font-family: 'Montserrat' !important;
    color: $text-primary !important;
}

.author-header {
    display: flex;
    justify-content: center;
}

//color was breaking on quote text in blog posts, so this was needed
blockquote {
    color: rgb(1, 1, 1);
    background-color: rgb(255, 255, 255);
    padding-top: .5rem;
    padding-bottom: .75rem;
    padding-right: 1rem;
}

.gray-background {
    background-color: #2e2e2e !important;
}

.title-divider {
    color: $text-primary;
    background-color: $text-primary;
    height: .15em;
}

.author-card {
    background-color: white;
}

.card-layout {
    display: flex;
    justify-content: center;
}

.site-menu {
    margin-top: 0;
    margin-bottom: .25rem;
    margin-left: auto;
    margin-right: auto;
}

.index-content {
    padding-top: 1rem;
}