@import "./colors.global.scss";

div, body{
    background-color: $background-primary;
    color: $text-primary;
    font-family:'Merriweather';
}

a {
    color: $text-secondary;
}
a:hover {
    color: $text-highlight;
}

h1 {
    font-family: 'Montserrat';
}

//color was breaking on quote text in blog posts, so this was needed
blockquote {
    color: inherit;
}

footer {
    color: rgb(70, 70, 70);
}